/node_modules/gulp
/node_modules/gulp-coffee
/node_modules/gulp-concat
/node_modules/gulp-csslint
/node_modules/gulp-cssmin
/node_modules/gulp-jshint
/node_modules/gulp-less
/node_modules/gulp-livereload
/node_modules/gulp-load-plugins
/node_modules/gulp-mocha
/node_modules/gulp-nodemon
/node_modules/gulp-uglify
/node_modules/gulp-util
/node_modules/gulp-coffee
/node_modules/gulp-coffee
/node_modules/less
/node_modules/require-dir
/bower_components

node_modules/
node_modules/*
